/* General style elements */

/* Splash Style */
.splash {
    width: 100%;
    height: 100vh;
    background: #84DCC6;
    transition: 1s;
}

.splash-text {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #FFFFFF;
    transform: translate(-50%, -50%); /*Center splash span elements*/
}

.name {
    position: relative;
    display: inline-block;
    font-size: 40px;
    opacity: 0;
    left: -90px; /*Starting distance for animation*/
}

.landing-button {
    position: relative;
    display: inline-block;
    bottom: -50px;
    font-size: 30px;
    opacity: 0;
    right: -90px; /*Starting distance for animation*/
}

.name.active {
    left: 0px;
}

.landing-button.active {
    right: 0px;
}

.name.active, .landing-button.active {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.landing-button a{
    color: #FFFFFF;
    text-decoration: underline;
}

/* Body Style */
body {
    min-width: 325px;
    background: #FFFFFF;
    font-family: 'Inconsolata', monospace;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Nav and Header Style */
h2 {
    color: #FF686B;
    font-size: 34px;
    padding-top: 10px;
}

.section-summary, .resume-options {
    font-size: 18px;
}

.nav-link, th, .image-description a {
    font-size: 21px;
}

.nav-link {
    margin: 0.7rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-link, .resume-options a {
    color: #551A8B;
}

.nav-link:hover {
    color: #84DCC6;
}

/* All Content below Nav */
.content {
    margin-left: 15px;
    margin-right: 15px;
}

.section-title {
    font-size: 28px;
    background-color:#84DCC6;
}

.section-summary {
    padding-left: 13vw;
    padding-right: 13vw;
}

/* Introduction Section */

.intro-table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50vw;
    max-width: 700px;
}

.intro-table td {
    background-color: #FFFFFF;
    color: black;
}

/* Resume Download/Viewing Area */
.resume-options {
    list-style: none;
    padding: 0.5px;
    margin-bottom: 0;
}

.center-text {
    text-align: center;
}

/* Project Grid */
.project-table {
    border: 1px solid white;   
    border-spacing: 5px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.project-table td {
    background-color: #FF686B;
    font-size: 16px;
    color: #FFFFFF;
    word-wrap: break-word;
    padding: 10px;
}

.project-stats {
    font-size: 16px;
}

/* Footer Style */
footer {
    background: #FF686B;
    color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
}

footer a {
    color: #FFFFFF;
}

/* Images */
img {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
  }

.image-description a {
    color: #FFFFFF;
}

/* Mobile View */
@media (max-width: 600px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }

    h2 {
        font-size: 30px;
    }

    .resume-options, .nav-link, th {
        font-size: 21px;
    }
    .nav {
        padding-bottom: 20px;
    }
    .intro-table {
        width: auto;
        text-align: center;
    }

    .section-summary, p, td, footer {
        font-size: 16px;
    }

    .section-title {
        font-size: 25px;
    }
    
    td {
        display: block;
    }

    img {
        height: auto;
        width: auto;
    }
}