/* Splash Style */
.splash {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #84DCC6;
    transition: 1s;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #FFFFFF;
    transform: translate(-50%, -50%)
}

.name {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.name.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.name.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Body Style */
body {
    min-width: 325px;
    background: #FFFFFF;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

/* Nav and Header Style */
h2 {
    color: #FF686B;
    font-size: 34px;
}

.nav-link {
    margin: 1vw;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: #84DCC6;
}

/* All Content below Nav */
.content {
    margin-left: 50px;
    margin-right: 50px;
}

.section-title {
    font-size: 28px;
    background-color:#84DCC6;
}

.section-summary {
    padding-left: 13vw;
    padding-right: 13vw;
    font-size: 21px;
}

/* Introduction Section */
.intro-summary {
    font-size: 21px;
}

.intro-table {
    margin-left: 25%;
    margin-right: 25%;
}

.intro-table td {
    background-color: #FFFFFF;
    color: black;
}

/* Resume Download/Viewing Area */
.resume-options {
    list-style: none;
    padding: 0.5px;
    font-size: 21px;
    margin-bottom: 0;
}

.center-text {
    text-align: center;
}

/* Project Grid */
.project-table {
    border: 1px solid white;   
    border-spacing: 5px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.project-table td {
    background-color: #FF686B;
    font-size: 16px;
    color: #FFFFFF;
    word-wrap: break-word;
    padding: 10px;
}

.project-stats {
    font-size: 16px;
}

th {
    font-size: 21px;
}

/* Footer Style */
footer {
    background: #FF686B;
    color: #FFFFFF;
    padding: 10px;
    font-size: 21px;
}

footer a {
    color: #FFFFFF;
}

/* Images */
img {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
  }

.image-description a {
    color: #FFFFFF;
    font-size: 21px;
}

/* Mobile View */
@media (max-width: 600px) {
    .content {
        margin-left: 15px;
        margin-right: 15px;
    }

    h2 {
        font-size: 30px;
    }

    .resume-options, .nav-link, th {
        font-size: 21px;
    }

    .intro-table {
        margin-left: auto;
        margin-right: auto;
    }

    .intro-summary, .section-summary, p, td, footer {
        font-size: 16px;
    }

    .section-title {
        font-size: 25px;
    }

    .project-table td {
        max-width: 250px;
    }
        
    img {
        height: auto;
        width: auto;
    }
}